@media screen and (max-width: 500px) {
  .container {
    max-width: 85%;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 80%;
    margin-top: 5rem;
  }
}

.fa {
  /* width: 38px; */
  text-align: right;
  margin-right: 5px;
}

.fb {
  border-radius: 11%;
  color: blue;
}

.tw {
  color: #3088ee;
}

.cardWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  overflow: auto;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.card{
  display: inline-block;
  width: 9rem;
  margin-left: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.card:hover {
  cursor: pointer;
}

.card-body {
  white-space: normal;
  padding: 10px 0 15px 0;
  font-size: 12px;
}

.card-img-top {
  width:100%;
}

::-webkit-scrollbar {
  height: 5px;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a8a7b1; 
  border-radius: 10px;
  /* width: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #444b4d; 
}

/* .reviewContentRight{
	background: red;
}
.reviewContentLeft{
	background: black;
} */
.review-contentDiv{
	margin-bottom: 1rem;
  background: white;
  color: black;
  border-radius: 10px ;
  padding: 1rem;
}

.reviewCont {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
  -webkit-box-orient: vertical;
}

.reviewContentLeft img{
  width: 100px;
  margin: 0 10%;
}

.castProfile {
  width: 100%;
}

.reviewRating {
  width: 60px;
  border-radius:20px;
  background:black;
  color:white; 
  font-size:22px;
  padding: 0 1%;
}
::ng-deep.modal-dialog {
  min-width: 50%;
  margin: 0 auto;
  padding: 0.5rem;
}